* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.header {
  width: 100%;
  height: 200px;
  text-align: center;
}

.header__img {
  height: 150px;
  padding: 30px 0;
}

.header__img img {
  height: 100%;
}

.header__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  list-style: none;
}

.header__ul li {
  margin: 0 10px;
  padding: 0 10px;
  line-height: 50px;
}

.header__ul li.active {
  background-color: #b3e5fc;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.main {
  background-image: url("/images/bg_image_pasta.jpg");
  background-position: center;
}

.pasta {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.pasta__main-title {
  padding: 10px 5px;
  text-transform: uppercase;
  color: #002d73;
}

.pasta__list {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.pasta__card {
  width: 33%;
  padding: 3px 5px;
  list-style: none;
}

.pasta__img {
  width: 100%;
}

footer {
  margin-top: 60px;
  padding-bottom: 130px;
  background-image: url("/images/footer_img.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.footer__wrapper {
  display: flex;
}

.footer__wrapper > * {
  width: calc(100% / 3);
  padding: 0 100px;
}

.info {
  text-align: center;
}

.info__img {
  width: 80%;
}

.info__paragraph {
  font-size: 14px;
  margin: 20px 0;
  text-align: left;
  color: #949daa;
}

.footer__title-menu {
  color: #949daa;
  filter: brightness(70%);
  padding: 20px 0;
  text-transform: uppercase;
}

.footer__menu {
  list-style: none;
}

.footer__menu li {
  padding: 4px 0;
}

.footer__menu-link {
  color: #949daa;
  text-decoration: none;
}

