.main {
  background-image: url("/images/bg_image_pasta.jpg");
  background-position: center;
}

.pasta {
  width: $websiteBoxWidth;
  margin: 0 auto;
  padding: 20px 0;

  &__main-title {
    padding: 10px 5px;

    text-transform: uppercase;

    color: $textDarkBlue;
  }
  &__list {
    display: flex;
    flex-flow: wrap;

    width: 100%;
  }
  &__card {
    width: 33%;
    padding: 3px 5px;

    list-style: none;
  }
  &__img {
    width: 100%;
  }
}
