
// colors

$textBlue: #4f83a1;
$textDarkBlue: #002d73;

$bgBlue: #b3e5fc;
$bgLightBlue: #cce1e6;
$gray: #848d9b;

// fonts

$lato: 'Lato', sans-serif;

// general

$websiteBoxWidth: 90%;

// header

$headerHeight: 200px;
$headerImgHeight: 150px;
$headerNavHeight: 50px;
